.page404 {
  .center-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .text-row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    .dude {
      opacity: 0;
      text-align: center;
    }

    .text {
      opacity: 0;
    }

    .dot {
      opacity: 0;
    }
  }
}
