:root {
  // Colors
  --black: #000;
  --light-black: rgb(29, 29, 29);
  --grey: #b6b6b6;
  --dark-grey: #7d7d7d;
  --darker-grey: #3e3e3e;
  --white: #fff;

  --green: #42db27;

  // EASES
  --ease: cubic-bezier(0.665, 0.08, 0.26, 0.855);
}
